{% assign campaign = include.campaign %}
{% assign row = include.tag | default: "aside" %}
{% assign classes = include.classes
  | join: ' '
  | prepend: 'row cta'
  | trim
%}
<{{row}} class="{{classes}}">
  <form class="call-to-action"
    method="{{campaign.action.method | default: 'post'}}"
    action="{{campaign.action.url}}"
  >
    {% if campaign.legend %}
    <legend>
      {{campaign.legend}}
    </legend>
    {% endif %}
    {% for field in campaign.fields %}
    <fieldset>
      {% if field.label and field.label_right != true %}
      <label for="{{field.name}}">{{field.label}}</label>
      {% endif %}
      <input
        type="{{field.type | default: 'text'}}"
        name="{{field.name}}"
        {% if field.placeholder %}placeholder="{{field.placeholder}}"{% endif %}
      >
      {% if campaign.submit.attached == field.name %}
      {% include form-button.html
        classes="attached"
        disabled=campaign.disabled
        text=campaign.submit.text
      %}
      {% endif %}
      {% if field.label and field.label_right %}
      <label for="{{field.name}}">{{field.label}}</label>
      {% endif %}
    </fieldset>
    {% endfor %}
    {% if campaign.submit.attached == nil %}
    {% include form-button.html
      disabled=campaign.disabled
      text=campaign.submit.text
    %}
    {% endif %}
  </form>
</{{row}}>
