// @use "scale"

=border($style: solid)
  border-style: $style
  @content

=border-radius($step, $direction: null)
  @if $direction
    border-#{$direction}-radius: map_get($borders, $step)
  @else
    border-radius: map_get($borders, $step)

=border-radius-only($direction)
  @each $exclusion in map_get($border-exclusions, $direction)
    +border-radius(none, $exclusion)

=border-width($step, $direction: null)
  @if $direction
    border-#{$direction}-width: map_get($borders, $step)
  @else
    border-width: map_get($borders, $step)

