@import "border"
@import "grid"
@import "space"
@import "type"

%input
  @extend %border
  @extend %border-width-1x
  @extend %border-radius-3x
  @extend %font-weight-7x
  @extend %height-2x
  @extend %padding-horizontal-1x
  @extend %padding-vertical--1x

input[type='email'],
input[type='number'],
input[type='password'],
input[type='search'],
input[type='tel'],
input[type='text'],
input[type='url'],
textarea,
select
  @extend %input
  @extend %width-full

  appearance: none // Removes awkward default styles on some inputs for iOS
  background-color: transparent
  box-shadow: none

  &:focus
    // border-color: $color-primary
    outline: 0

select
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="14" viewBox="0 0 29 14" width="29"><path fill="#d1d1d1" d="M9.37727 3.625l5.08154 6.93523L19.54036 3.625"/></svg>') center right no-repeat
  padding-right: 3.0rem

  &:focus
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="14" viewBox="0 0 29 14" width="29"><path fill="#9b4dca" d="M9.37727 3.625l5.08154 6.93523L19.54036 3.625"/></svg>')

textarea
  min-height: 6.5rem

label,
legend
  @extend %margin-bottom--1x
  @extend %font-weight-7x

  display: block
legend
  @extend %font-size-3x
label
  @extend %font-size-5x

fieldset
  @extend %border-width-none
  @extend %padding-none
  @extend %row
  @extend %row-centered

input[type='checkbox'],
input[type='radio']
  @extend %margin-horizontal--1x
  @extend %margin-bottom--1x

.label-inline
  @extend %font-weight-4x
  @extend %margin-left--1x

.attached
  &> input
    @extend %border-radius-left
    @extend %border-right-none
  &>
    button, label
      @extend %border-radius-right
      @extend %margin-left-none

.button,
button,
input[type='button'],
input[type='reset'],
input[type='submit']
  @extend %input
  @extend %text-align-center
  @extend %width-auto

  cursor: pointer
  text-decoration: none
  white-space: nowrap

  &:focus,
  &:hover
    // background-color: $color-secondary
    // border-color: $color-secondary
    // color: $color-initial
    outline: 0

  &[disabled]
    cursor: default
    opacity: .5

    &:focus,
    &:hover
      // background-color: $color-primary
      // border-color: $color-primary
