// ---- placeholder classes

%row
  display: flex
  flex-direction: column
  margin-bottom: 1rem

  @include media-query-small-up
    flex-direction: row

%row-centered
  align-items: center

%column
  width: 100%
  padding:
    left: 0.5rem
    right: 0.5rem

%column-centered
  text-align: center
  @include media-query-small-up
    text-align: left

// ---- concrete classes

*
  box-sizing: border-box

.row
  @extend %row
  &.centered
    @extend %row-centered
  > .column
    @extend %column

    &.centered
      @extend %column-centered

    @each $max-width, $sizes in $column-sizes
      @each $size in $sizes
        &.column-#{$size}
          @include media-query-small-up
            flex: 0 0 percentage($max-width/100)
            max-width: percentage($max-width/100)
