// @use "layout"
// @use "media"
// @use "scale"
// @use "space"

=row-only
  +flex
  +flex-row
  +margin-vertical(-1x)

=row-small-up // column at "small" size
  +flex
  +flex-column
  +flex-row-small-up
  +margin-vertical(1x)

=row-centered
  +flex-centered

=column-base
  +space(width, full)
  +padding-horizontal(-1x)

=column-centered
  +margin-horizontal(auto)

=column-width($step)
  width: map_get($column-widths, $step)

=column-flex($step)
  +media-query-small-up
    flex: 0 0 map_get($column-widths, $step)
    max-width: map_get($column-widths, $step)

// ---- concrete styles

.row, %row
  +row-small-up

  &.centered, %row-centered
    +row-centered

  > .column, %column
    +column-base

    @each $step in map_keys($column-widths)
      &-#{$step}
        +column-flex($step)

    &.centered, %column-centered
      +column-centered

