@import "scale"

@mixin columns
  @each $max-width, $sizes in $column-sizes
    @each $size in $sizes
      &-#{$size}
        @include media-query-small-up
          flex: 0 0 percentage($max-width/100)
          max-width: percentage($max-width/100)

// ---- placeholder classes

%row
  display: flex
  flex-direction: column
  margin-bottom: 1rem

  @include media-query-small-up
    flex-direction: row

%row-centered
  align-items: center

%column
  width: 100%
  padding:
    left: 0.5rem
    right: 0.5rem

  @include columns

  &-centered
    margin:
      left: auto
      right: auto


// ---- concrete classes

*
  box-sizing: border-box

.row
  @extend %row
  &.centered
    @extend %row-centered
  > .column
    @extend %column

    &.centered
      @extend %column-centered

    @include columns

