// @use "media"

=flex
  display: flex

=flex-centered
  align-items: center

=flex-centered-small-up
  +media-query-small-up
    +flex-centered

=flex-centered-medium-up
  +media-query-medium-up
    +flex-centered

=flex-centered-large-up
  +media-query-large-up
    +flex-centered

=flex-centered-huge-up
  +media-query-huge-up
    +flex-centered

=flex-column
  flex-direction: column

=flex-column-small-up
  +media-query-small-up
    +flex-column

=flex-column-medium-up
  +media-query-medium-up
    +flex-column

=flex-column-large-up
  +media-query-large-up
    +flex-column

=flex-column-huge-up
  +media-query-huge-up
    +flex-column

=flex-row
  flex-direction: row

=flex-row-small-up
  +media-query-small-up
    +flex-row

=flex-row-medium-up
  +media-query-medium-up
    +flex-row

=flex-row-large-up
  +media-query-large-up
    +flex-row

=flex-row-huge-up
  +media-query-huge-up
    +flex-row

// ---- concrete styles

